.body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    font-family: system-ui, sans-serif;
  }
  .header {
    background : lightblue;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 800px;
  }
  .p {
      border: 2px solid grey;
      border-radius: 2px;
      width: 5%;
      text-align: justify ;
  
  }