.body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    font-family: system-ui, sans-serif;
  }

.p {
      border: 2px solid grey;
      border-radius: 2px;
      width: 5%;
      text-align: justify ;
  
  }