.parent {
    display: grid;
    place-items: center;
    resize: both;
    overflow: auto;
  }

  .child {
  
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid rgb(85, 24, 62);
    background: #ceceb3;
    font-size: 2rem;
    text-align: justify;
  }
  

  .body {
    font-family: system-ui, serif;
    position: relative;
    margin: auto;
  }

  .p {
    font-size: 1.5rem;
    background: lightcyan;
    text-align: justify;
  }